.library {
  padding: 0;
}

.library-entry {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.3rem;
  align-items: center;
}

.library-entry:hover {
  background-color: #1f1f1f;
  border: 0;
}

.song-cover-image {
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 0.2rem;
}

.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.song-artist {
  font-size: 0.75rem;
  opacity: 0.6;
}
